.docs {
	display: flex;
	height: 100%;
	gap: 0.5rem;

	.doc-wrapper {
		width: 100%;
		padding: 0 3rem;
		box-sizing: border-box;
		.section-title {
			font-size: 1.5rem;
			font-weight: 600;
		}
		.section-subtitle {
			font-size: 1.25rem;
			font-weight: 400;
		}
	}

	@media (max-width: 480px) {
		.docWrapper {
			padding: 0;
		}
	}
}
