@use '@nuitral/theming/dist/scss/variables' as variables;

.container {
	padding: 0 10rem;
}

.docs-container {
	margin: 0 auto;
	max-width: 648px;
}

.about-container {
	margin: 0 auto;
	max-width: 648px;
}

.section-title {
	font-size: 1.5rem;
	font-weight: 600;
}
.section-subtitle {
	font-size: 1.25rem;
	font-weight: 400;
}

.hint {
	background-color: variables.$surface-400;
	padding: 0.5rem 1rem;
	border-left: 2px solid variables.$accent;
}

.link-button {
	display: inline;
	cursor: pointer;
	color: variables.$accent !important;
}

@media (max-width: 768px) {
	.container {
		padding: 0 8rem !important;
	}
}

@media (max-width: 640px) {
	.container {
		padding: 0 6rem !important;
	}
}

@media (max-width: 520px) {
	.container {
		padding: 0 4rem !important;
	}
}

@media (max-width: 480px) {
	.container {
		padding: 0 !important;
	}
}

.font-size-12px {
	font-size: 12px;
}
.mt-4rem {
	margin-top: 4rem;
}
.mb-1rem {
	margin-bottom: 1rem;
}
.mt-1rem {
	margin-top: 1rem;
}

.mt-1_5rem {
	margin-top: 1.5rem;
}

.mb-1_5rem {
	margin-bottom: 1.5rem;
}

.mt-2rem {
	margin-top: 2rem;
}

.mb-2rem {
	margin-bottom: 2rem;
}

.divider {
	height: 0.05rem;
	margin: 1rem 0 1rem 0;
	background-color: variables.$secondary;
	width: 100%;
}

.text-description-head {
	padding: 1rem 0;
	font-size: 20px;
}

.text-description {
	padding: 1rem 0;
	font-size: 16px;
}
