pre.language-typescript,
pre.language-javascript,
pre.language-shell,
pre.language-html {
	border: 1px solid;
	border-radius: 8px;
	padding: 1.5rem !important;
	background: transparent;
}

code.language-typescript,
code.language-javascript,
code.language-shell,
code.language-html {
	text-shadow: none !important;
}

span.token.operator {
	background: transparent;
}

.nuitral-dark-mode {
	.language-typescript,
	.language-javascript,
	.language-shell,
	.language-html {
		color: white;
	}
}
