@use '@nuitral/theming/dist/scss/variables' as variables;

pre.language-typescript,
pre.language-javascript,
pre.language-shell,
pre.language-markup,
pre.language-scss {
	border: 1px solid;
	border-radius: 8px;
	padding: 1.5rem !important;
	background: variables.$background-600;
}

code.language-typescript,
code.language-javascript,
code.language-shell,
code.language-markup,
code.language-scss {
	text-shadow: none !important;
}

span.token.operator {
	background: transparent;
}

.nuitral-dark-mode {
	.language-typescript,
	.language-javascript,
	.language-shell,
	.language-markup,
	.language-scss {
		color: white;
	}
}
