@use '@nuitral/theming/dist/scss/variables' as variables;

.sidebar {
	width: 180px;
	height: 100%;
	padding-right: 1rem;
	transition: all 0.3s ease;

	.title {
		font-weight: 600;
		padding-bottom: 0.2rem;
		padding-top: 1rem;

		&:first-of-type {
			padding-top: 0;
		}
	}

	.section {
		cursor: pointer;
		margin-left: 0.5rem;
	}

	.nav-section {
		display: none;
	}

	.close-icon {
		display: none;
	}

	@media (max-width: 480px) {
		.nav-section {
			display: block;

			.personalization-section {
				display: flex;
				gap: 1rem;
			}
		}

		& {
			width: 0;
			padding: 1rem;
			position: fixed;
			top: 0;
			left: -100%;
			z-index: 1000;
			transition: all 0.3s ease;
		}

		&.open {
			background-color: variables.$surface;
			-webkit-backdrop-filter: blur(16px);
			backdrop-filter: blur(16px);
			width: 100%;
			left: 0;
			box-sizing: border-box;
			z-index: 1000;

			.close-icon {
				display: block;
				position: absolute;
				right: 1rem;
				cursor: pointer;
			}
		}
	}
}
