@use '@nuitral/theming/dist/scss/variables' as variables;

.sidebar {
	width: 180px;
	height: 100%;
	padding-right: 1rem;
	transition: all 0.3s ease;
	.title {
		font-weight: 600;
		&:not(:first-child) {
			padding-top: 0.5rem;
		}
	}
	.section {
		cursor: pointer;
	}

	.routes-section {
		display: none;
	}

	@media (max-width: 480px) {
		.routes-section {
			display: block;
		}

		& {
			width: 0;
			padding: 1rem;
			position: fixed;
			top: 0;
			left: -100%;
			z-index: 1000;
			transition: all 0.3s ease;
		}

		&.open {
			background-color: variables.$background;
			-webkit-backdrop-filter: blur(16px);
			backdrop-filter: blur(16px);
			width: 100%;
			left: 0;
			box-sizing: border-box;
			z-index: 1000;
		}
	}
}
